In [65]:
import pandas as pd
holiday = pd.read_csv("hols_dest.csv")
print(holiday)

     Destination  Feedback Score  Average Rating  Hotel numbers  \
0         Madrid             8.0             3.7          298.0
1           Rome             8.5             4.0          380.0
2          Miami             9.0             4.2          460.0
3         London             7.5             4.0         1012.0
4     Madagascar             7.0             3.8          312.0
5         Venice             7.5             3.9          295.0
6        Nairobi             7.0             3.5          190.0
7       Capetown             9.0             4.2          456.0
8   Johannesburg             8.0             3.9          390.0
9          Dubai             9.5             4.5         1560.0
10         Tokyo             8.5             4.0          590.0
11     Hong Kong             9.0             4.3          402.0
12      New York             9.0             4.2          658.0
13    Manchester             6.5             3.4         1509.0
14        Kigali             6.0             3.4          259.0

          Most Visited Place
0               Prado Museum
1                   Pantheon
2                Miami Beach
3                Tate Modern
4   Ranomafana National Park
5         St Mark's Basilica
6              National Park
7                 Waterfront
8                    Sandton
9               Burj Khalifa
10            Sensoji Temple
11                Star Ferry
12               Time Square
13               Castlefield
14         Genocide Memorial

In [41]:
holiday.shape

(15, 5)

In [66]:
print(holiday.iloc[3:8])

  Destination  Feedback Score  Average Rating  Hotel numbers  \
3      London             7.5             4.0         1012.0
4  Madagascar             7.0             3.8          312.0
5      Venice             7.5             3.9          295.0
6     Nairobi             7.0             3.5          190.0
7    Capetown             9.0             4.2          456.0

         Most Visited Place
3               Tate Modern
4  Ranomafana National Park
5        St Mark's Basilica
6             National Park
7                Waterfront

In [71]:
holiday['Hotel numbers'].mean()

584.7333333333333

In [31]:
holiday["Hotel numbers"].tolist()

['298',
 '380',
 '460',
 '1,012',
 '312',
 '295',
 '190',
 '456',
 '390',
 '1,560',
 '590',
 '402',
 '658',
 '1,509',
 '259']

In [68]:
holiday["Destination"].min()

'Capetown'

In [45]:
holiday["Destination"].max()

'Venice'

In [72]:
holiday.mean()

C:\Users\hp\AppData\Local\Temp\ipykernel_3192\1425169176.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  holiday.mean()

Feedback Score      8.000000
Average Rating      3.933333
Hotel numbers     584.733333
dtype: float64

In [57]:
myfilter = holiday["Feedback Score"] > 8
print(myfilter)

0     False
1      True
2      True
3     False
4     False
5     False
6     False
7      True
8     False
9      True
10     True
11     True
12     True
13    False
14    False
Name: Feedback Score, dtype: bool

In [59]:
mysecond_filter = holiday["Feedback Score"] < 2
print(mysecond_filter)

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
Name: Feedback Score, dtype: bool

In [64]:
holiday.describe()

       Feedback Score  Average Rating
count       15.000000       15.000000
mean         8.000000        3.933333
std          1.052209        0.328778
min          6.000000        3.400000
25%          7.250000        3.750000
50%          8.000000        4.000000
75%          9.000000        4.200000
max          9.500000        4.500000